@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 2, 7, 37;
  --background-end-rgb: 2, 7, 37;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 2, 7, 37;
    --background-end-rgb: 2, 7, 37;
  }
}

body {
  width: 100%;
  max-width: 768px;
  min-width: 320px;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  position: relative;
}

/* PRE FIX CLASSES */
/* VISIBILLITY */
.active {
  display: block !important;
}
.none {
  display: none !important;
}

/* IMG */
.img-contain {
  object-fit: contain;
}
/* FLEX */
.flex-start {
  display: flex;
  align-items: flex-start;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.flex-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.flex-col {
  flex-direction: column;
}

/* BOX LAYOUT */
.panel {
  background: #fff;
  padding: 20px;
}

/* COMMON DESIGN SETTINGS */
main {
  width: 100%;
  height: 100%;
  padding: 0;
}
main > section {
  padding: 25px 0;
}

h2 {
  font-size: 18px;
  font-weight: 600;
  position: relative;
  padding-left: 20px;
}
h2::after {
  display: inline-block;
  content: "";
  width: 10px;
  height: 100%;
  background: #000;
  position: absolute;
  left: 0;
  top: 0;
}

/* COMMON LAYOUT */
.app-header {
  width: 100%;
  height: 50px;
  color: #fff;
  padding: 0 20px;
}
.app-header * {
  color: #fff;
}

.app-footer {
  width: 100%;
  height: 50px;
  color: #fff;
}

.gnb {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
}
.gnb li {
  width: 33.33333%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid red;
  color: red;
}

/* AUTH */
form .btn-wrap {
  padding-top: 20px;
}

/* TAROT */
.tarot-deck,
.tarot-major {
  max-width: 700px;
  width: 100%;
}
